<div class="container devise-form">
    <header class="kosugi brand-link p-2 text-center position-relative">
        <%= link_to root_path, class:"text-decoration-none" do %>
            <h1 class="modak text-main">Graphy</h1>
        <% end %>
        <h4 class="kosugi text-dark mt-3">ユーザーログイン</h4>
    </header>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-2"}) do |f| %>
        <div class="kosugi form-group">
            <%= f.label :email do %>
                <p class="d-inline-block kosugi mb-0">メールアドレス</p>
            <% end %>
            <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "メールアドレスを入力してください" %>
        </div>

        <div class="kosugi form-group">
            <%= f.label :password do %>
                <p class="d-inline-block kosugi mb-0">パスワード</p>
            <% end %>
            <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "パスワードを入力してください" %>
        </div>

        <div class="kosugi form-group text-center">
            <%= f.submit "ログインする", class: "submit-btn p-2 w-50 rounded btn-main text-white w-50 mt-3" %>
            <!-- <%= render "users/shared/links" %> -->
        </div>
    <% end %>
</div>