<div class="graphy-container container-fluid">
    <div class="graphy-row row">
        <div class="sidebar-container col-lg-3">
            <%= render 'shared/user-sidebar' %>
        </div>
        <div class="main-content col-lg-9 bg-light">
            <header class="main-header border-bottom-main">
                <h3 class="main-header__text"><i class="fas fa-handshake pr-1"></i>好みの写真を選びましょう！</h3>
            </header>

            <%= form_tag search_users_path, method: "get", class:"category-form" do %>
                <i class="fas fa-chevron-down arrow-btn"></i>
                <%= select_tag :category,
                    options_from_collection_for_select(Category.all, :id, :name),
                    {
                        prompt: "カテゴリー選択",
                        class: "category-select"
                    }
                %>
                <%= submit_tag "更新", class: "category-search" %>
            <% end %>
            <% if @portfolios.length == 0 %>
                <div class="no-category border">
                    <h2>カテゴリーを選択してください</h2>
                </div>
            <% else %>
                <div id="tinderslide">
                    <ul>
                        <% @portfolios.each do |portfolio| %>
                            <li data-photographer_id="<%= portfolio.photographer.id %>" class="bg-gray">
                                <%= image_tag portfolio.image.url %>
                                <h4 class="photographer-name"><%= portfolio.photographer.name %></h4>
                                <div class="like"><%= image_pack_tag 'images/liked.png'%></div>
                                <div class="dislike"><%= image_pack_tag 'images/nope.png'%></div>
                            </li>
                        <% end %>
                        <div class="no-portfolio">
                            <h2>まだ選んでいない作品はありません</h2>
                        </div>
                    </ul>
                </div>
                <div class="actions" id="action_btn_area">
                    <a href="#" class="dislike">
                        <i class="fas fa-frown"></i>
                    </a>
                    <a href="#" class="like">
                        <i class="fas fa-grin-beam"></i>
                    </a>
                </div>
            <% end %>
        </div>

    </div>
</div>