<div class="container-fluid px-0">
    <div class="row">
        <div class="col-lg-3 pr-lg-0">
            <%= render 'shared/user-sidebar' %>
        </div>

        <div class="main-content col-lg-9 pl-lg-0 bg-light overflow-auto vh-100">
            <header class="w-100 bg-white text-center py-2 mb-4 border-bottom-main">
                <h3 class="text-dark kosugi header-text mb-0"><i class="fas fa-handshake pr-1"></i>好みの写真を選びましょう！</h3>
            </header>
            <div id="tinderslide">
                <ul>
                    <% @portfolios.each do |portfolio| %>
                        <li data-photographer_id="<%= portfolio.photographer.id %>" class="bg-gray">
                            <%= image_tag portfolio.image.url %>
                            <h4 class="photographer-name"><%= portfolio.photographer.name %></h4>
                            <div class="like"><%= image_pack_tag 'images/liked.png'%></div>
                            <div class="dislike"><%= image_pack_tag 'images/nope.png'%></div>
                        </li>
                    <% end %>
                </ul>
                <div class="no-portfolio kosugi">
                    <h2>まだ選んでいない作品はありません</h2>
                </div>
            </div>
            <div class="actions" id="action_btn_area">
                <a href="#" class="dislike">
                    <i class="fas fa-frown"></i>
                </a>
                <a href="#" class="like">
                    <i class="fas fa-grin-beam"></i>
                </a>
            </div>
        </div>

    </div>
</div>