<div class="photographer-card col-md-6 col-lg-4">
    <%= link_to photographer_path(photographer.id), class:"photographer-link" do %>
        <div class="card">
            <div class="opponent-portfolio">
                <%= image_tag photographer.portfolios.last.image.url, class:"opponent-portfolio__img" %>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <div class="opponent-avator">
                                <%= image_tag photographer.avatar.url %>
                            </div>
                        </div>
                        <div class="col-9 pl-0">
                            <div class="card-title">
                                <h5 class="text-dark"><%= photographer.name %></h5>
                            </div>
                            <div class="opponent-area text-truncate">
                                <% photographer.activity_area.each do |area| %>
                                    <p><%= "#{area.name}/" %></p>
                                <% end %>
                            </div>
                            <%# <div class>
                                <p class="card-text">星の評価</p>
                            </div> %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>