<div class="graphy-container container-fluid">
    <div class="graphy-row row">

        <div class="sidebar-container col-lg-3" >
            <%= render 'shared/photographer-sidebar' %>
        </div>

        <div class="main-content col-lg-9">
            <header class="main-header border-bottom-sub">
                <h3 class="main-header__text"><i class="fas fa-comments pr-1"></i>チャット一覧</h3>
            </header>
            <div class="container">
                <div class="chat-index">
                    <div class="chat-index-header">
                        <h4 class="chat-index-header__text"><%= @chatrooms.count %>人とマッチングしています</h4>
                    </div>
                    <div class="chat-index-container">
                        <% @chatrooms.each do |chatroom| %>
                            <%= link_to photographer_chat_room_path(chatroom), class:"chat-link" do %>
                                <div class="chat-content">
                                    <div class="opponent-info w-75">
                                        <div class="opponent-avatar">
                                            <%= image_tag chatroom.user.avatar.url %>
                                        </div>
                                        <div class="overflow-hidden w-75">
                                            <h5 class="opponent-name text-truncate"><%= chatroom.user.name %></h5>
                                            <% if chatroom.chat_messages.present? %>
                                                <p class="last-message text-truncate"><%= chatroom.chat_messages.last.message %></p>
                                            <% else %>
                                                <p class="last-message">※まだメッセージがありません</p>
                                            <% end %>
                                        </div>
                                    </div>
                                    <% if chatroom.no_photographer_read_messages %>
                                        <div class="chat-count">
                                            <h4><%= chatroom.no_photographer_read_messages %></h4>
                                        </div>
                                    <% else %>
                                        <div></div>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                <div>
            </div>
        </div>

    </div>
</div>