<div class="graphy-container container-fluid">
    <div class="graphy-row row">
        <div class="sidebar-container col-lg-3" >
            <%= render 'shared/photographer-sidebar' %>
        </div>

        <div class="main-content col-lg-9 bg-light overflow-auto">
            <header class="main-header border-bottom-sub">
                <h3 class="main-header__text"><i class="fas fa-comments pr-1"></i>チャット一覧</h3>
            </header>
            <div class="container">
                <div class="mt-3">
                    <div class="text-center mb-2">
                        <h4 class="kosugi header-text"><%= @chatrooms.count %>人とマッチングしています</h4>
                    </div>
                    <div class="mt-3 p-0">
                        <% @chatrooms.each do |chatroom| %>
                            <%= link_to photographer_chat_room_path(chatroom), class:"chat-link" do %>
                                <div class="d-flex align-items-center  py-2 px-0 border-bottom">
                                    <div class="d-flex align-items-center w-100">
                                        <div class="chat-avator overflow-hidden rounded-circle mr-3">
                                            <%= image_tag chatroom.user.avatar.url, class:"h-100 w-100 img-fluid object-cover"%>
                                        </div>
                                        <div class="overflow-hidden">
                                            <h4 class="chat-name"><%= chatroom.user.name %></h4>
                                        </div>
                                    </div>
                                    <div class="chat-number d-flex align-items-end bg-danger justify-content-center text-white rounded-circle">
                                        <h4 class="inline-block">100</h4>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                <div>
            </div>
        </div>

    </div>
</div>