<div class="container-fluid px-0">
    <div class="row">
        <div class="col-lg-3 pr-lg-0">
            <%= render 'shared/user-sidebar' %>
        </div>

        <div class="col-lg-9 bg-light overflow-auto vh-100 px-5">
            <div class="container pt-3 mx-auto">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="overflow-hidden detail-avator mx-auto">
                            <%= image_pack_tag "images/photographer-1.jpg", class:"object-cover h-100 w-100 img-fluid img-thumbnail rounded-circle" %>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <h2 class="kosugi grapher-name detail-text text-md-left">写真家1</h2>
                        <div class="container-fluid px-0">
                            <div class="row">
                                <dl class="col-sm-12 col-md-5 mb-1">
                                    <dt class="kosugi detail-text detail-title text-light bg-brown rounded px-1 text-center">メインカメラ</dt>
                                    <dd class="kosugi detail-text text-center mt-1">Canon</dd>
                                </dl>
                                <dl class="col-sm-12 col-md-7 mb-1">
                                    <dt class="detail-text detail-title text-light bg-brown rounded px-1 text-center">SNS</dt>
                                    <div class="d-flex justify-content-center mt-1">
                                        <dd class="mr-2">
                                            <%= link_to "" , class: "instagram d-flex p-1 text-white text-center my-0 mx-auto rounded d-inline-block" do %>
                                                <i class="fab fa-2x fa-instagram"></i>
                                                <h4 class="text-light d-none d-md-block">instagram</h4>
                                            <% end %>
                                        </dd>
                                        <dd>
                                            <%= link_to "", class: "twitter d-flex p-1 font-weight-bold text-white text-center my-0 mx-auto rounded d-inline-block" do %>
                                                <i class="fab fa-twitter"></i>
                                                <h4 class="text-light d-none d-md-block">twitter</h4>
                                            <% end %>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                        <div class="container-fluid px-0">
                            <div class="row">
                                <dl class="col-12">
                                    <dt class="kosugi detail-text detail-title text-light bg-brown rounded px-1 text-center">対応地域</dt>
                                    <dd class="kosugi detail-text text-center mt-1">東京/千葉/神奈川/埼玉</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="d-flex justify-content-between mb-1">
                    <div class="p-1">
                        <h5 class="kosugi detail-text mb-0">ポートフォリオ</h5>
                    </div>
                    <div class="btn-sub p-1 rounded">
                        <h5 class="kosugi detail-text text-light mb-0"><i class="fas fa-expand-arrows-alt"></i>もっと作品をみる</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="px-0 overflow-hidden text-center w-100">
                            <%= image_pack_tag "images/family-top.jpg", class:"img-fluid img-thumbnail object-contain"%>
                            <p class="kosugi jenre-text bg-brown text-light rounded-bottom">ジャンル:<span class="ml-1">ファミリー</span></p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="px-0 overflow-hidden text-center w-100">
                            <%= image_pack_tag "images/family-top.jpg", class:"img-fluid img-thumbnail object-contain"%>
                            <p class="kosugi jenre-text bg-brown text-light rounded-bottom">ジャンル:<span class="ml-1">ファミリー</span></p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="px-0 overflow-hidden text-center w-100">
                            <%= image_pack_tag "images/family-top.jpg", class:"img-fluid img-thumbnail object-contain"%>
                            <p class="kosugi jenre-text bg-brown text-light rounded-bottom">ジャンル:<span class="ml-1">ファミリー</span></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container-fluid mt-2">
                <h5 class="kosugi">自己紹介</h5>
                <div class="grapher-description pt-1">
                    <p class="description-inner font-weight-light">こんにちは！フォトグラファーのたくちと申します◎
1989年12月20日生まれの29歳です。
栃木県栃木市出身で現在は埼玉県川越市に妻と2匹の猫と一緒に暮らしておいます。

写真を観てくれた人の心に響く写真を目指して、忘れていた感情を思い出せるような写真を残したくてフォトグラファーになりました。
今しか残せない今の姿を、想いを是非写真に撮らせてください。
5年後、10年後、50年後への宝物になりますようにと願い込めてシャッターを切らせていただきます◎

【撮影について】
ふわふわとした暖かい写真や、少し懐かしさを感じる胸の奥がキュンとなるようなエモい雰囲気を得意としています。
撮影前に、ご依頼頂いた経緯やどんな写真が撮りたいかなどヒアリングさせていただきます。
こんな写真が撮りたい！ここで撮りたい！などのご提案も大歓迎です！お気軽にご相談ください。
撮影可能エリアについてはなるべく交通費のかからないよう選定していますが、場所により交通費のご相談をさせて頂く場合が御座います。
また車所有しておりますので、場所や衣装により送迎など希望される場合もお申し付け下さい◎

【スケジュールについて】
前後の案件との移動時間などによって、スケジュール上空いていてもご要望に添えないケースが御座います。
そのような場合も交通手段の変更や調整などにより可能な限りご対応させて頂きたく思っておりますので、ご希望のお時間と具体的な撮影希望地をご相談下さい。

【撮影枚数について】
平均で100枚程を納品させて頂いております。
当日のや天候や、マタニティフォトの場合はお母さんの体調、お宮参りの場合は赤ちゃんの体調等を考慮し撮影させていただいております。
皆様の様子を伺いながら、適宜休憩を挟んだり臨機応変に対応させていただきますのでご安心下さい。
また全てのお写真をLightroom、Photoshopといったソフトで綺麗に編集作業を行い納品致します。
                    </p>
                </div>
            </div>

            <%= link_to "/",class:"kosugi detail-text chat-button btn-sub d-block my-3 text-light text-center" do %>
                依頼のためにチャット画面に進む
            <% end %>
        </div>
    </div>
</div>